body{

   
}
.mainDiv{
    background:#234465;
    color:white;
    width: 90%;
    height:100px;
    margin: 0 auto;
}
#logo{
    width:120px;
    float:left;
}
#logo img{
    width:230px;
}
#top{
    float:right;
}
#bot{
    clear:right;
    float:right;
    display:inline-block;
}
.notification{
    display:inline-block;
    margin:15px;
    float:right;
}
.user{
    margin:15px;
    float:right;
    display:inline-block;
}
.caret{
    display:inline-block;
    width:0;
    height:0;
    margin-left:2px;
    vertical-align:middle;
    border-top:4px solid;
    border-right:4px solid transparent;
    border-left:4px solid transparent;

}
.form{
    float:right;
    display:inline-block;
}
.form input[type=text]{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    float:left;
    display:inline-block;
    margin:15px 0 ;
    width:200px;
    background:white;
    color:#367cbf;
}
button[type="submit"].search{
    float:right;
   width: 30px;
    height: 22px;
    border: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background:white;
    background-image:url(../images/search.png);
    background-position:7px;
    margin:15px 15px 0 0;
    background-repeat:no-repeat;
}
ul {
    margin-top: 12px;
}
ul li {
    list-style-type: none;
    display: inline;
    text-transform: uppercase;
    margin-right: 24px;
    background-color: #234465;
    cursor: pointer;
}
li>ul {
    display: none;
}
li:hover ul, #user:hover ul {
    display: block;
}
li:hover li, #user:hover li {
    border-radius: 5px;
    padding: 7px;
    display: block;
    border: 0.1em solid #435F7B;
}
li>ul>li:hover, #user li:hover {
    background-color: #FF9C00;
}
ul>li:nth-child(2) ul {
    position: absolute;
    left: 1000px;
    padding-top: 7px;
    width: 240px;
}
ul>li:nth-child(3) ul {
    position: absolute;
    left: 1230px;
    padding-top: 7px;
    width: 210px;
}
#user {
    cursor: pointer;
}
    #user>ul {
        display: none;
        width: 240px;
        padding-top: 9px;
        position: absolute;
        left: 860px;
    }
