<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Webbsite Header</title>
    <link href="style/style.css" rel="stylesheet" />
</head>
<body>
    <div class="mainDiv">
        <div id="logo"><a href="https://softuni.bg"><img src="images/slogo.png" /></a></div>
        <div id="top">
            <div class="form">
                <form>
                    <button type="submit" class="search"></button>
                    <input type="text" placeholder="Search" /> 
                    
                </form>
            </div>
            <div class="user">
                USER <strong class="caret"></strong>
            </div>
            <div class="notification">
                0<img src="images/notificationsIcon.png" />
            </div>  
        </div>
        <div id="bot">
            <ul>
                <li>NEWS</li>
                <li>
                    ABOUT THE UNIVERSITY <span class="caret"></span>
                    <ul>
                        <li>Submenu 1</li>
                        <li>Subenu 2</li>
                    </ul>
                </li>
                <li>
                    TRAINING COURSES <span class="caret"></span>
                    <ul>
                        <li>Submenu 1</li>
                        <li>Subenu 2</li>
                    </ul>
                </li>
                <li>FOR COMPANIES</li>
                <li>FORUM</li>
                <li>CONTACTS</li>
            </ul>
        </div>
    </div>
</body>
</html>
