<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>softUni News</title>
    <link href="style/news.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <header><h1>News</h1></header>
        <article>
            <h2>Level #0 Starts in the 5th of july</h2><br />
            <p>18/03/2014</p><br />
            <div class="published">Published by:Alexandra Sviralova</div><br />
            <div class="border"></div>
            <div><img src="#" alt="Alternate Text" /></div>
            <div>The deadline for application is extended to the 3th of July</div>
            <div class="border"></div>
            <div class="tags"><strong>Tags: </strong> software-university home-page softuni apply deadline application admission July</div>
        </article>
        <article>
            <h2>Level #0 Starts in the 5th of july</h2><br />
            <p>18/03/2014</p><br />
            <div class="published">Published by:Alexandra Sviralova</div><br />
            <div class="border"></div>
            <div><img src="#" alt="Alternate Text" /></div>
            <div>The deadline for application is extended to the 3th of July</div>
            <div class="border"></div>
            <div class="tags"><strong>Tags: </strong> software-university home-page softuni apply deadline application admission July</div>
        </article>
        <article>
            <h2>Level #0 Starts in the 5th of july</h2><br />
            <p>18/03/2014</p><br />
            <div class="published">Published by:Alexandra Sviralova</div><br />
            <div class="border"></div>
            <div><img src="#" alt="Alternate Text" /></div>
            <div>The deadline for application is extended to the 3th of July</div>
            <div class="border"></div>
            <div class="tags"><strong>Tags: </strong> software-university home-page softuni apply deadline application admission July</div>
        </article>
        <div id="pages">1</div>
        <div id="pages">2</div>
        <div id="pages">3</div>
        <div id="pages">4</div>
        <div id="pages">5</div>
        <div id="pages">></div>
    </div>
</body>
</html>
